<div class="about-area wow fadeInUp" id="about">
  <div class="space-30"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading">
          <h5>Conosco</h5>
        </div>
        <div class="space-30"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="logo-carousel owl-carousel text-center">
          <div class="single-logo-wrapper">
            <div class="single-item">
              <img src="../../assets/img/c-logo-1.png" alt="">
            </div>
          </div>
          <div class="single-logo-wrapper">
            <div class="single-item">
              <img src="../../assets/img/c-logo-2.png" alt="">
            </div>
          </div>
          <div class="single-logo-wrapper">
            <div class="single-item">
              <img src="../../assets/img/c-logo-3.png" alt="">
            </div>
          </div>
          <div class="single-logo-wrapper">
            <div class="single-item">
              <img src="../../assets/img/c-logo-4.png" alt="">
            </div>
          </div>
          <div class="single-logo-wrapper">
            <div class="single-item">
              <img src="../../assets/img/c-logo-5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-90"></div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="about-mid-img">
          <img src="../../assets/img/about-left.png" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6 align-self-center">
        <div class="heading">
          <h5>Nós Somos Destaque em</h5>
        </div>
        <div class="about-mid-text">
          <h1>Uma plataforma para armazenamento de dados</h1>
          <div class="space-10"></div>
          <p>Pensando em armazenar dados de forma imutável, com rapidez e flexibilidade, com as mesmas tecnologia das criptomoedas.
            A I.M utiliza uma rede em blockchain para armazenar os dados de suas transações, replicada num cluster de computadores de forma que,
            torna-se impossível alterar os dados após seu armazenamento.</p>
        </div>
        <div class="space-30"></div>
        <a href="#" class="gradient-btn v2 about-btn"> <i class="fa fa-send-o"></i> Junte-se a nossa Plataforma</a>
      </div>
    </div>
  </div>
  <div class="space-90"></div>
</div>
