<div class="roadmap-area section-padding wow fadeInUp" id="roadmap">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading">
          <h5>history Timeline</h5>
          <div class="space-10"></div>
          <h1>Development Roadmap</h1>
        </div>
        <div class="space-60 d-none d-sm-block"></div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="roadmap-carousel owl-carousel">
      <div class="roadmap-item">
        <div class="single-roadmap text-center road-left">
          <div class="single-roadmap-img">
            <img src="../../assets/img/roadmap-1.png" alt="">
          </div>
          <div class="space-30"></div>
          <div class="roadmap-text">
            <p>01.03.2017</p>
            <div class="space-10"></div>
            <h5>Concept and whitepaper</h5>
            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
          </div>
        </div>
      </div>
      <div class="roadmap-item align-self-center">
        <div class="single-roadmap road-right">
          <div class="row">
            <div class="col-5 align-self-center">
              <div class="single-roadmap-img">
                <img src="../../assets/img/roadmap-2.png" alt="">
              </div>
            </div>
            <div class="col-7">
              <div class="roadmap-text">
                <p>21.06 .2017</p>
                <h5>Recruitment of Our team</h5>
                <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap-item">
        <div class="single-roadmap text-center road-left">
          <div class="single-roadmap-img">
            <img src="../../assets/img/roadmap-4.png" alt="">
          </div>
          <div class="space-30"></div>
          <div class="roadmap-text">
            <p>31.08.2017</p>
            <div class="space-10"></div>
            <h5>Core Development</h5>
            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
          </div>
        </div>
      </div>
      <div class="roadmap-item align-self-center">
        <div class="single-roadmap road-right">
          <div class="row">
            <div class="col-5 align-self-center">
              <div class="single-roadmap-img">
                <img src="../../assets/img/roadmap-5.png" alt="">
              </div>

            </div>
            <div class="col-7">
              <div class="roadmap-text">
                <p>31.11.2017</p>
                <h5>Main Development</h5>
                <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap-item">
        <div class="single-roadmap text-center road-left">
          <div class="single-roadmap-img">
            <img src="../../assets/img/roadmap-4.png" alt="">
          </div>
          <div class="space-30"></div>
          <div class="roadmap-text">
            <p>31.08.2017</p>
            <div class="space-10"></div>
            <h5>Core Development</h5>
            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
          </div>
        </div>
      </div>
      <div class="roadmap-item align-self-center">
        <div class="single-roadmap road-right">
          <div class="row">
            <div class="col-5 align-self-center">
              <div class="single-roadmap-img">
                <img src="../../assets/img/roadmap-5.png" alt="">
              </div>

            </div>
            <div class="col-7">
              <div class="roadmap-text">
                <p>31.11.2017</p>
                <h5>Main Development</h5>
                <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a in token.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
