<div class="header-area wow fadeInDown header-absolate" id="nav" data-0="position:fixed;" data-top-top="position:fixed;top:0;" data-edge-strategy="set">
  <div class="container">
    <div class="row">
      <div class="col-4 d-block d-lg-none">
        <div class="mobile-menu"></div>
      </div>
      <div class="col-4 col-lg-2">
        <div class="logo-area">
          <a href="#"><img src="../../assets/img/logo-top.png" alt="I.M"></a>
        </div>
      </div>
      <div class="col-4 col-lg-8 d-none d-lg-block">
        <div class="main-menu text-center">
          <nav>
            <ul id="slick-nav">
              <li><a class="scroll" href="#home">home</a></li>
              <li><a class="scroll" href="#about">Sobre</a></li>
              <li><a class="scroll" href="#faq">FAQ</a></li>
              <li><a class="scroll" href="#contact">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-4 col-lg-2 text-right">
        <a href="#" class="logibtn gradient-btn" (click)="openModal(template)">login</a>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Modal title Fabiano</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="my-modal-description">
        This is a modal.
      </div>
    </div>
  </ng-template>
</div>

<app-fooder></app-fooder>

<app-about></app-about>

<app-description></app-description>

<app-distibution></app-distibution>

<!--<app-timeline></app-timeline>-->

