<div class="welcome-area wow fadeInUp" id="home">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 align-self-center">
        <div class="welcome-right">
          <div class="welcome-text">
            <h1>IMMUTABLE TRANSACTION BY BLOCKCHAIN</h1>
            <h3>Transações segura</h3>
            <h4>Sistema contábil com tecnologia blockchain para armazenamento de transãçoes seguras imutável.</h4>
          </div>
          <div class="welcome-btn">
            <a href="#" class="gradient-btn v2 mr-20">Registre-se</a>
            <a href="#" class="gradient-btn v2">Acesse</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="welcome-img">
          <img src="../../assets/img/welcome-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
