<div class="distibution-bg">
  <!---distibution area start-->
  <div class="distibution wow fadeInUp" id="token">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="heading">
            <h5>Token Distribution</h5>
            <div class="space-10"></div>
            <h1>initial distibution</h1>
          </div>
          <div class="space-60"></div>
        </div>
      </div>
      <div class="row">

        <div class="col-6 text-right">
          <div class="distibution-svg distibution-svg-1">
            <img src="assets/img/token-top.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="distibution-d item-1">
            <ul>
              <li class="distibution-list-1"><span>15% </span>Build Up Team</li>
              <li class="distibution-list-2"><span>50% </span>ICO Investors</li>
              <li class="distibution-list-3"><span>25% </span>Branding & Marketing</li>
              <li class="distibution-list-4"><span>10% </span>Bounty </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="space-90"></div>
      <div class="row">
        <div class="col-12 text-center">
          <div class="heading">
            <h5>Sale breakdown</h5>
            <div class="space-10"></div>
            <h1>Token Sales Contribution</h1>
          </div>
          <div class="space-90"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-2 text-right">
          <div class="distibution-d distibution-d-2">
            <ul>
              <li class="distibution-list-5"><span>40% </span>HR & Development</li>
              <li class="distibution-list-6"><span>30% </span>Branding & Markting</li>
              <li class="distibution-list-7"><span>20% </span>Posiblle Buyout</li>
              <li class="distibution-list-8"><span>10% </span>Legal Advisory </li>
            </ul>
          </div>
        </div>
        <div class="col-10">
          <div class="distibution-svg distibution-svg-2">
            <img src="assets/img/token-bottom.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="space-90"></div>
  </div>
  <!---distibution area end-->
</div>
