<div class="single-about-area wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="#" class="single-about">
          <div class="single-about-img">
            <img src="../../assets/img/about-icon-1.png" alt="">
          </div>
          <div class="single-about-text">
            <h4>Oportunidades de Investimento</h4>
            <p>Saiba e enteda seus lucros e onde seria mais promissor investir</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="single-about">
          <div class="single-about-img">
            <img src="../../assets/img/about-icon-2.png" alt="">
          </div>
          <div class="single-about-text">
            <h4>Vetted ICO Marketplace</h4>
            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="single-about">
          <div class="single-about-img">
            <img src="../../assets/img/about-icon-3.png" alt="">
          </div>
          <div class="single-about-text">
            <h4>Análise de movimentação entre gamhos e perdas</h4>
            <p>The recording starts with the patter of a summer squall. Later, a drifting tone like that of a not quite tuned in radio station rises and for a while drowns</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="space-90"></div>
</div>
